.animal{
    background-color: lightgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    width: 300px;
    border: 10px outset;
    margin: 20px;
    padding: 20px;
    background-size: 100%;
}
.habitat{
    background-color: violet;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    width: 250px;
    border: 2px solid black;
    margin: 3px;
    padding: 20px;
}
#p.one{
    border-style: solid;
    border-width: 5px;

}
h1{
    background-color: blanchedalmond;
    text-align: left;
    padding: 20px;
}
#para-1{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}
p {
    font-weight: bold;
}

dl, dd {
    font-size: .9rem;
}

dd {
    margin-bottom: 1em;
}
